.analysisPage {
	background: var(--page-bg-gradient-blue);
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.mainContainer {
	height: 80vh;
	display: grid;
	grid-template-columns: 4fr 2fr;
	gap: 20px;
}

.leftSection {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1/1;

	background: var(--component-bg-gradient-blue);
	border: var(--main-border-style);

	border-radius: 20px;
}

.boardWrapper {
	padding: 15px;
	max-width: 750px;
}
