.analysisPage {
	background: var(--page-bg-gradient-blue);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landscapeDisclaimer {
	display: none;
}

.mainContainer {
	height: 100vh;
	display: grid;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: 1fr;
	overflow: hidden;
	gap: 20px;
}

.leftSection {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	aspect-ratio: 1/1;

	background: var(--component-bg-gradient-blue);
	border: var(--main-border-style);

	border-radius: 20px;

	min-width: 700px;
}

.boardWrapper {
	padding: 15px;
	max-width: 750px;
}

.rightSection {
	height: 100%;
	min-height: 0;
	display: flex;
}

@media (max-width: 1150px) {
	.leftSection {
		min-width: 500px;
	}
	.mainContainer {
		min-height: 600px;
	}
}

@media (max-width: 875px) {
	.leftSection {
		min-width: 350px;
	}
}

@media (max-width: 750px) {
	.rightSection {
		min-width: 200px;
	}
}

@media (max-width: 700px) {
	.analysisPage {
		height: fit-content;
	}
	.mainContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: scroll;
	}
	.boardWrapper {
		width: 100%;
	}
	.leftSection {
		min-width: 0;
		min-width: 325px;
		height: 450px;
	}
	.rightSection {
		flex: 0.95;
	}
}

@media (max-height: 775px) and (max-width: 700px) {
	.leftSection {
		width: 300px;
		height: 350px;
	}
	.rightSection {
		height: 300px;
	}
}

@media (max-width: 750px) and (min-width: 700px) {
	.mainContainer {
		display: flex;
	}
	.leftSection {
		width: 200px;
	}
}

@media (max-height: 625px) {
	.mainContainer {
		display: none;
	}
	.landscapeDisclaimer {
		color: white;
		font-size: 18px;
		display: flex;
	}
}
