.sidebar {
	height: 100%;
	width: 100%;
	max-width: 400px;
	background: var(--component-bg-gradient-blue);
	border: var(--main-border-style);
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	padding: 20px;
	color: var(--main-font-color);
}

.stockfishSection {
	width: 100%;
	height: 20%;

	display: flex;

	justify-content: center;
	align-items: center;

	background-color: rgba(172, 172, 172, 0.096);
	border-radius: 20px;
}

.stockfishEvaluation {
	height: 100%;
	flex: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 400;
	font-size: var(--large-font-size);
}
.stockfishLines {
	font-family: monospace;
	height: 100%;
	flex: 5;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: var(--main-font-size);
}
.stockfishLine {
	width: 100%;
}

.bestMove {
	color: rgb(116, 175, 170);
}

.modeNavigationContainer {
	cursor: default;

	width: 100%;
	padding-top: 15px;
	height: fit;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modeHeader {
	text-align: center;
	font-size: 18px;
	color: var(--main-font-color);
	width: 50%;
}

.modeButton {
	cursor: pointer;
	border-radius: 100%;

	transition: background-color;
	transition-duration: 100ms;
}
.modeButton:hover {
	background-color: rgba(167, 167, 167, 0.171);
}

.heuristicsContainer {
	flex: 1;
	min-width: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 20px;

	gap: 20px;
}

.ruleContainer {
	width: 100%;
	background-color: rgba(60, 92, 161, 0.233);
	max-height: 40px;
	overflow: hidden;
	border-radius: 20px;
	padding-left: 10px;
	padding-right: 10px;

	transition: max-height 500ms;
}
.ruleContainerExpanded {
	max-height: 150px;
}

.ruleContainerHeader {
	display: flex;
	width: 100%;
	height: 40px;
	justify-content: center;
	align-items: center;
}

.ruleContainerBody {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	flex-wrap: wrap;
}
.actualRule{
	width: 275px;
	height: auto;
	overflow-wrap: break-word;
	display: block;
}


.ruleContainerBody {
	padding-left: 10px;
	color: rgb(228, 228, 228);
	padding: 10px;
}
.ruleContainerBody li {
	max-width: 275px;
}

.ruleName {
	width: 90%;
	font-size: 16px;
}

.buttonsContainer {
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.navigateButton {
	background-color: var(--main-button-color);
	height: 100%;
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;

	cursor: pointer;

	transition: all;
	transition-duration: 200ms;
}

.navigateButton:hover {
	background-color: var(--main-button-color-hover);
}
